.signup-btn {
  color: var(--ion-rockstar-yellow);
}

.input-form-item {
  --background: transparent;
}

.social-login-buttons {
  margin-top: 5%;
}

.gm-close-btn {
  padding-left: 10%;
  font-size: 40px;
  padding-top: 10%;
  color: #3880ff;
  font-weight: 800;
}

h2 {
  font-weight: 800;
  color: #ffffff;
}

a {
  text-decoration: none;
}

h5 {
  color: #ffffff;
  font-weight: 500;
  margin-top: 10%;
}

h3 {
  color: #ffffff;
  font-weight: 500;
}

.gm-logo {
  height: 80px;
}

.gm-login-btn {
  text-align: center;
  display: block;
  --background: var(--ion-rockstar-yellow);
  margin: 10%;
}

.gm-forgot-link {
  float: right;
  color: #ffffff;
  padding-right: 10px;
  padding-top: 10px;
}

.gm-google-btn {
  .btn-icon {
    margin-right: 5px;
  }

  float: right;
  width: 80%;
  --background: #d34836;
  text-transform: none;
}

.gm-facebook-btn {
  .btn-icon {
    margin-right: 5px;
  }

  text-transform: none;
  float: left;
  width: 80%;
  --background: #4267b2;
}

.error {
  padding: 10px 0px 0px 10px;
  color: #f04141;
}

.terms {
  color: #feca01;
}

.gm-privacy {
  float: left;
}

.gm-terms {
  float: right;
  padding-right: 16px;
}
