.segment-btn {
  --indicator-color: var(--ion-rockstar-yellow) !important;
  --color-checked: var(--ion-color-dark-contrast) !important;
}

.search-bar {
  --background: var(--ion-rockstar-grey);
}

// .searchButton {
//   padding: 16px 0 16px 16px;
// }
